@{
    ViewBag.Title = "Home Page";
}

    <style>
        body {
            background-color: #373839;}
       
       h1,h2 {
          color: white; }
        p {
            color: #808080;   }
    </style>

    <div class="jumbotron" style="background-color: #373839;">
        <h1 style=" color: white;">Cheaper Faster Easier</h1>
        <h2>Your interest is our interest</h2>
        <p class="lead">Hotel Booking is a brand-new web-based hotel reservation system which aim to provide hotel rooms booking service for tourists in a new place during their trips</p>
        <p><a href="/Hotels/Index" class="btn btn-primary btn-lg">Search &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Mercure Kuta</h2>
            <div>
                <img src="https://www.ahstatic.com/photos/1867_ho_00_p_1024x768.jpg" style="width:300px;height:200px;" />
            </div>
            <p>
                If you're looking to relax on your leisure vacation, look no further than Mercure Bali Harvestland Kuta, with its luxurious and beautiful terrace with...
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Mercure Bali</h2>
            <div>
                <img src="https://www.ahstatic.com/photos/7434_ho_00_p_1024x768.jpg" style="width:300px;height:200px;" />
            </div>
            <p>Located in the center of Kuta beach, the most famous beach in Bali and a popular tourist attraction, surrounded by fantastic dining, entertainment and.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>THeritage Hotel </h2>
            <div>
                <img src="https://www.ahstatic.com/photos/3713_ho_00_p_1024x768.jpg" style="width:300px;height:200px;" />
            </div>
            <p>Located in the center of Kuta beach, the most famous beach in Bali and a popular tourist attraction, surrounded by fantastic dining, entertainment and shopping opportunities,</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
